icon.png
instance.cfg
mmc-pack.json
LICENSE
README.md
script/

.minecraft/.mixin.out
.minecraft/assets
.minecraft/backups
.minecraft/coremods
.minecraft/crash-reports
.minecraft/fonts
.minecraft/journeymap
.minecraft/local
.minecraft/logs
.minecraft/patchouli_books
.minecraft/resourcepacks
.minecraft/resources
.minecraft/saves
.minecraft/screenshots
.minecraft/server-resource-packs
.minecraft/shaderpacks
.minecraft/texturepacks
.minecraft/tv-cache
.minecraft/.ReAuth.cfg
.minecraft/BotaniaVars.dat
.minecraft/crafttweaker.log
.minecraft/OpenComputersMod*
.minecraft/patchouli_data.json
.minecraft/tailslibrary.json
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/servers.dat