icon.png
instance.cfg
mmc-pack.json
LICENSE
README.md
script/
.minecraft/assets
.minecraft/backups
.minecraft/coremods
.minecraft/crash-reports
.minecraft/journeymap
.minecraft/local
.minecraft/logs
.minecraft/patchouli_books
resourcepacks
resources
saves
screenshots
server-resource-packs
shaderpacks
texturepacks
tv-cache
.ReAuth.cfg
BotaniaVars.dat
crafttweaker.log
OpenComputersMod*
options.txt
patchouli_data.json
tailslibrary.json
usercache.json
usernamecache.json